html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    background-color: rgb(182, 12, 12);
    color: white;
    padding: 0.5em;
}

/* #character-bar {
    height: 15vh;
    background: rgb(49, 109, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
}

#character-bar span {
    padding: 1%;
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    align-items: center;
    border-radius: 2em;
    border: 1px solid white;
} */

#character-bar {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#character-bar img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}
  
#character-bar img:last-child {
    margin-right: 0;  
}

.characterInfo {
    height: 550px;
    padding: 30px;
    font-size: 24px;
    border: dotted;
    text-align: center;
}

input[type="submit"],
button {
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    font-size: 3vh;
}

#image {
    width: 300px;
    height: 300px;
}