html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
    background-color: rgb(49, 109, 179);
    color: white;
    padding: 0.5em;
}

#driver-bar {
    height: 15vh;
    background: rgb(49, 109, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
    overflow-x: auto;
}

#driver-bar img {
    padding: 1%;
    height: 60%;
    width: 7vw;
    display: flex;
    justify-content: center;
    font-size: 1vh;
    color: white;
    align-items: center;
    border-radius: 2em;
    border: 1px solid white;
}

.driverInfo {
    height: 550px;
    padding: 10px;
    font-size: 24px;
    border: dotted;
    text-align: center;
}

input[type="submit"],
button {
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    font-size: 3vh;
}

#image {
    width: 300px;
    height: 300px;
}